# The URL the site will be built for
base_url = "test"

# Whether to automatically compile all Sass files in the sass directory
compile_sass = true

# Whether to build a search index to be used later on by a JavaScript library
build_search_index = true

theme = "uwcs"

taxonomies = [
    { name = "categories", paginate_by = 20},
    { name = "tags", paginate_by = 20},
]

ignored_content = [
    "**/README.md",
    "**/gen_seq.py",
    "**/archive/*/*"  # DRAFT
]

[markdown]
# Whether to do syntax highlighting
# Theme can be customised by setting the `highlight_theme` variable to a theme supported by Zola
highlight_code = true
highlight_theme = "css"
render_emoji = true
external_links_target_blank = true

[search]
index_format = "elasticlunr_json"

[slugify]
paths_keep_dates = true

[extra]
# Put all your custom variables here

repo = "uwcs/new-site"
cms_auth_url = "https://cms-auth.containers.uwcs.co.uk"
academic_year = "23/24"
room_links = true