{% macro fits(dim, loc, grid, cols) %}
{% set_global fit=true %}
{% if loc | first + dim | first > cols %}
  {% set_global fit=false %}
{% else %}
  {% for y in range(start=loc | last, end=loc | last + dim | last) %}
    {% if y >= grid | length %}{% continue %} {% endif %}
    {% for x in range(start=loc | first, end=loc | first + dim | first) %}
      {% if grid[y][x] != -1 %}
        {{ false }}
        {% set_global fit=false %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if end %} {% break %} {% endif %}
  {% endfor %}
{% endif %}
{{ fit }}

{% endmacro %}

{% macro try_fit(layouts, loc, grid, cols) %}

{% set fits = false %}
{% for dim in layouts %}
  {% if self::fits(dim=dim, loc=loc, grid=grid, cols=cols) %}
    {% set_global fits = true %}
    shape-{{cols}}-{{dim[0]}}x{{dim[1]}}
    {% for y in range(start=loc | last, end=loc | last + dim | last) %}
      {% if y >= grid | length %} {% continue %} {% endif %}
      {% for x in range(start=loc | first, end=loc | first + dim | first) %}
        {% set_global grid[y][x] = 0 %}
      {% endfor %}
    {% endfor %}
    {% break %}
  {% endif %}
{% endfor %}

{% if not fits %}
  {% set loc[0] = loc[0] + 1 %}
  {% if loc | first >= cols %}
    {% set loc[0] = 0 %}
    {% set loc[1] = loc[1] + 1 %}
  {% endif %}
  {{ self::try_fit(layouts=layouts, loc=loc, grid=grid, cols=cols) }}
{% endif %}
{% endmacro %}

{% macro pack(day_events, pos, grid, cols) %}
{% set len = {{ day_events | length }} %}

{# Get possible layouts for num events #}
{% if   len == 1 %}{% set layouts = [[1, 1]] %}
{% elif len == 2 %}{% set layouts = [[2, 1], [1, 2]] %}
{% elif len == 3 %}{% set layouts = [[3, 1], [2, 2]] %}
{% elif len == 4 %}{% set layouts = [[2, 2]] %}
{% elif len == 5 %}{% set layouts = [[3, 2], [2, 3]] %}
{% elif len == 6 %}{% set layouts = [[3, 2], [2, 3]] %}
{# Catch all is full width #}
{% else %}{% set layouts = [[3, 1]] %}
{% endif %}

{{ self::try_fit(layouts=layouts, loc=loc, grid=grid, cols=cols) }}

{% endmacro %}