<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - UWCS</title>
</head>

<body>
    <h1>404 Page Not found :(</h1>
    <p id="404-paragraph">
        <a href="/">Click here to go back to the homepage</a>
    </p>

    <script>
        async function main() {
            //gets current url and replaces uwcs with old.uwcs
            var currentHref = document.URL;
            var currentHostname = new URL(currentHref).hostname;
            var newHref = currentHref.replace(currentHostname, "old." + currentHostname);
            await get_url(newHref);

            async function get_url(newHref) {
                var valid = await fetch(newHref);
                if (valid.status == 200) {
                    document.getElementById("404-paragraph").innerHTML = "If you followed a link to get here it might exist at <a href='" + newHref + "'>" + newHref + "</a>";
                }
            }
        }
        main();
    </script>
</body>

</html>