<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - UWCS</title>
</head>

<body>
    <h1>404 Page Not found :(</h1>
    <p>If you followed a link to get here it might exist at
        <a id="old-link" href="https://old.uwcs.co.uk/">https://old.uwcs.co.uk/</a>
    </p>

    <script>
        //gets current url and replaces uwcs with old.uwcs
        var anchor = document.getElementById("old-link");
        var currentHref = document.URL;
        var currentHostname = new URL(currentHref).hostname;
        var newHref = currentHref.replace(currentHostname, "old." + currentHostname);
        anchor.setAttribute("href", newHref);
        anchor.innerHTML = newHref;
    </script>
</body>

</html>