{% extends "section.html" %}


{% block secbody %}
{{ resource.content | safe}}

{% set data = load_data(url="https://tabula.warwick.ac.uk/api/v1/termdates/weeks", format="json") %}

<ul>
{% for w in data.weeks %}
  {% if w.academicYear == config.extra.academic_year %}
    <li>{{ w.academicYear }} {{ w.start }} {{ w.name }}</li>
    {% if w.weekNumber == 1 %}
      {% set_global year_start = w.start %}
    {% endif %}
  {% endif %}
{% endfor %}
</ul>

{% set start_week = year_start | date(format="%W") | int %}
{{ year_start }} {{ start_week }}
<ul>
{% for e in section.pages %}
  {% set e_week = e.date | date(format="%W") | int %}
  <li>{{ e_week }} {{ e_week - start_week }} {{ e.date | date(format="%a") }}</li>
{% endfor %}
</ul>
{% endblock %}
