{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock title %}
{% block content %}

<div>
{% set tier_sec = get_section(path=page.ancestors | last) %}
<a class="badge text-decoration-none fs-5 mb-5" 
    {% if tier_sec.extra.colour %}style="background-color: {{ tier_sec.extra.colour }}"{% endif %}
    href="{{ tier_sec.permalink }}"
>
    {{ tier_sec.title | trim_end_matches(pat=" Sponsors")}}
</a>
</div>

<a id="img" href="{{ page.extra.link }}">
<span>
<img src="{{ page.permalink | trim_end_matches(pat="/") }}.png" height="150px" style="max-width: 400px; object-fit: contain">
</span>
</a>

{{ spon_macros::resize(trigger=false) }}
<script>
    window.addEventListener('load', function () {
        equalize_visual_size("img", 200 * 150);
    })
</script>

<hr>
{{ page.content | safe}}
{% endblock content%}